page-tab-lookup {
  #number-input-item {
    padding-left: 0px;
    border-bottom-color: map-get($colors, primary);
  }
  ion-label {
    color: gray;
  }

  .fraud-prevention-key {
    color: map-get($colors, primary);
    font-size: 1.6em;
  }
}
@import '../../../theme/global-styles.scss'

