page-tab-lookup {
  .item {
    padding-left: 0px;
  }
  ion-label {
    color: gray;
  }
  #restaurant-code {
    h2 {
      margin: 10px 0;
      text-align: center;
      font-size: 30px;
      font-family: monospace;
      color: map-get($colors, primary);
    }

    #date-time {
      text-align: center;
    }
  }
}
