.submit-button {
  margin-top: 10px;
  font-weight: 400;
  font-size: 1rem;
  ion-icon {
      padding-right: 5px;
  }
}

.location-card {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  position: sticky;
  top: 0;
  z-index: 2;
  ion-item {
    --padding-start: 0.75rem;
    --padding-end: 0.75rem;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
  }
}

ion-avatar {
  margin-right: 12px;
}

.location-info {
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 0.75rem;
  }
}

.location-icon {
  font-size: 1rem;
}

// tab look up below

.header {
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
  font-size: 0.8rem;
  .fraud-code {
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
  }
}

.input {
  padding-left: 0px;
  margin-bottom: 10px;
  max-width: 100%;
}

// .explain-text {
//     ma
//     margin: 0.75rem;
// }

.small-input {
  max-width: 90%; // need to make this more precise - scaled for iphone 5
}

.header {
  font-size: 1.75rem;
  text-align: left;
  text-overflow: ellipsis;
}

// .content {
//     padding-right: 1.5rem;
//     padding-left: 1.5rem;
//     text-align: left;
// }

.center-element {
  text-align: center;
}

.help-icon {
  font-size: 1.5rem;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.submit-button {
  margin-top: 10px;
  font-weight: 400;
  font-size: 1rem;
  ion-icon {
      padding-right: 5px;
  }
}

.ticket-mode {
  width: 100%;
  height: 100%;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  text-align: center;
  ion-label {
      font-size: 1rem;
      white-space: normal;
      margin: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }
  ion-radio {
      --color: transparent !important;
      --color-checked: transparent !important;
      margin: 0;
      padding: 0;
      width: 0;
      height: 0;
  }
}

ion-card {
  margin-top: 0.25rem;
}

p {
  font-size: 1rem;
}

.item-radio-checked{
  outline: auto;
}

.loader {
  &-good {
      text-align: center;
      color: green
  }
  &-warning {
      text-align: center;
      color: yellow;
  }
  &-bad {
      text-align: center;
      color: red
  }

}

