 <ion-header>
 <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button icon-only (click)="openMenu()">
          <ion-avatar class="user-profile">
            <ion-img src="https://cdn3.f-cdn.com/contestentries/1376995/30494909/5b566bc71d308_thumb900.jpg" class="profile-image"></ion-img>
            <ion-icon name="settings-outline" color="white" class="menu"></ion-icon>
          </ion-avatar>
      </ion-button> -->
      <ion-menu-button icon-only>
        <ion-avatar class="user-profile">
          <ion-img src="https://cdn3.f-cdn.com/contestentries/1376995/30494909/5b566bc71d308_thumb900.jpg" class="profile-image"></ion-img>
          <ion-icon name="settings-outline" color="white" class="menu"></ion-icon>
        </ion-avatar>
      </ion-menu-button>
    </ion-buttons>
    <ion-img class="tabify-icon" src="assets/imgs/logo.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button icon-only class="notifications">
        <ion-icon name="notifications" class="notification-icon"></ion-icon>
        <ion-badge>7</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>