page-select-items {
  .fraud-prevention-key {
    color: map-get($colors, primary);
    font-size: 1.6em;
  }
  .tip-modal {
    @media (min-height: 500px) {
      ion-backdrop {
        visibility: visible;
      }
    }

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-overlay;

    display: flex;

    align-items: center;
    justify-content: center;

    contain: strict;
    .modal-wrapper {
      &,
      .ion-page,
      .ion-page .content,
      .ion-page .content .scroll-content {
        contain: content;
        position: relative;
        top: auto;
        left: auto;
        padding: 1px;
      }

      z-index: $z-index-overlay-wrapper;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      min-width: $alert-min-width;
      max-height: $alert-max-height;
      opacity: 0;
      height: auto;
      max-width: $alert-md-max-width;
      border-radius: $alert-md-border-radius;
      box-shadow: $alert-md-box-shadow;
      border-radius: 25px;
      padding: 5px;
    }
  }

  ion-toolbar {
    text-align: center;
    height: 100%;
    .toolbar-col {
      padding: 0px 5px;
      &.guests {
        color: lightgray;
      }
      &.top {
        color: white;
        font-size: 1.5em;
        font-weight: 500;
      }
      &.bottom {
        color: white;
        font-size: 1em;
      }
    }
    .plus-others {
      font-weight: bold;
      white-space: nowrap;
    }
    .invite-others {
      font-weight: bold;
      color: map-get($colors, primary);
      white-space: nowrap;
      padding-left: 3px;
    }
    .secondary-toolbar {
      min-height: 0;
    }
  }
  ion-content {
    .ticket-spinner {
      display: flex;
      margin: auto;
    }
    ion-card {
      ion-row {
        ion-col {
          &.modify-item {
            padding: 0;
            ion-spinner,
            ion-spinner * {
              fill: map-get($colors, primary);
              margin: auto;
            }
            &.item-on-tab {
              background-color: map-get($colors, primary);
              color: map-get($colors, light);
            }
            &.item-not-on-tab {
              background-color: map-get($colors, tabify-dark-2);
              border-right: 1px solid map-get($colors, primary);
            }
            > div {
              justify-content: center;
              flex-direction: column;
              text-align: center;
              display: flex;
              height: 100%;
            }
            ion-icon {
              font-size: 2em;
            }
          }
          &.item-details {
            padding: 0;
            overflow: hidden;
            .col-item-name {
              .name-text {
                font-weight: 500;
                font-size: 1em;
              }
              .quantity-text {
                font-size: 0.9em;
                color: lightgray;
              }
            }
            .col-item-total {
              .my-share-text {
                color: map-get($colors, primary);
                font-size: 0.9em;
                white-space: nowrap;
                vertical-align: top;
              }
              .total-text {
                font-size: 1em;
                vertical-align: top;
              }
            }
            .col-payers {
              padding-top: 0px;
              .payers-icon {
                &-alert {
                  color: map-get($colors, warning);
                }
                vertical-align: text-bottom;
              }
              .payers-description-text,
              .payers-count {
                font-size: 0.9em;
                color: lightgray;
              }
              .payers-count {
                color: map-get($colors, primary);
              }
            }
          }
        }
      }
    }
  }
}
