<ion-header>
  <ion-navbar color='tabify'>
    <ion-title>Select Items</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class='cards-bg'>
  <ion-card *ngFor='let item of receiptItems'>
    <ion-item>
      <h2>{{item.name}}</h2>
      <ion-note item-end>
        <h2>${{item.price | number:'1.2-2'}}</h2>
      </ion-note>
    </ion-item>
    <ion-card-content>
      <p>{{item.payersDescription}}</p>
      <ng-container *ngIf='item.payers.length > 1'>
        <p *ngFor='let payer of item.payers'>
          {{payer.firstName}}: ${{payer.price | number:'1.2-2'}}
        </p>
      </ng-container>
    </ion-card-content>
    <ion-row>
      <ion-col col-6 align-self-center text-center>
        <button ion-button color='primary' clear outline icon-start>
          <ion-icon name='add-circle'></ion-icon>
          Claim
        </button>
      </ion-col>
      <ion-col col-6 align-self-center text-center>
        <button ion-button color='primary' clear outline icon-start (click)='splitItem(item)'>
          <ion-icon name='cut'></ion-icon>
          Split
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Your Subtotal
      <p class='subtitle'>$54.32</p>
    </ion-title>
  </ion-toolbar>
</ion-footer>
