page-select-items {
  .toolbar-title {
    color: map-get($colors, primary);
    .subtitle {
      color: map-get($colors, dark);
      font-size: 96%;
      margin: 0;
    }
  }
  .item-on-tab {
    border: 1px solid map-get($colors, primary);
  }
}
