page-waiting-room {
  .fraud-prevention-key {
    color: map-get($colors, primary);
    font-size: 1.6em;
  }

  ion-toolbar {
    text-align: center;
    height: 100%;
    .toolbar-col {
      padding: 0px 5px;
      &.guests {
        color: lightgray;
      }
      &.top {
        color: white;
        font-size: 1.5em;
        font-weight: 500;
      }
      &.bottom {
        color: white;
        font-size: 1em;
      }
    }
    .plus-others {
      font-weight: bold;
      white-space: nowrap;
    }
    .invite-others {
      font-weight: bold;
      color: map-get($colors, primary);
      white-space: nowrap;
      padding-left: 3px;
    }
    &.secondary-toolbar {
      .toolbar-background {
        border-color: gray;
      }
    }
  }
  .confirm-text {
    text-align: center;
  }
  #your-party,
  #go-back-to-claim,
  #no-shared-items,
  #shared-items,
  #your-selections {
    text-align: left;
    color: darkgrey;
    overflow-wrap: normal;
    white-space: normal;
  }
  #go-back-text {
    font-style: italic;
    font-size: small;
  }
  .card-header {
    font-size: medium;
    padding-bottom: 5px;
  }

  .content-divider {
    background-color: lightgray;
  }

  ion-badge.status-badge,
  .item ion-badge.status-badge {
    color: map-get($colors, tabify-dark-2);
    margin-left: 0;
  }

  .waiting-user {
    &-col {
      padding: 0px;
      .icon {
        margin-right: 0;
      }
      &-2 {
        .item .label {
          margin: 0;
        }
      }
      .item {
        padding-left: 0px;
      }
      .item-md.item-block .item-inner,
      .item-ios.item-block .item-inner {
        padding-right: 0px;
      }
    }
  }

  ion-content {
    padding-bottom: 10px;
    ion-card {
      ion-row {
        &.item-details {
          padding: 0;
          overflow: hidden;
          .col-item-name {
            .name-text {
              font-weight: 500;
              font-size: 1em;
            }
            .quantity-text {
              font-size: 0.9em;
              color: lightgray;
            }
          }
          .col-item-total {
            .my-share-text {
              color: map-get($colors, primary);
              font-size: 0.9em;
              white-space: nowrap;
              vertical-align: top;
            }
            .total-text {
              font-size: 1em;
              vertical-align: top;
            }
          }
          .col-payers {
            padding-top: 0px;
            .payers-icon {
              &-alert {
                color: map-get($colors, warning);
              }
              vertical-align: text-bottom;
            }
            .payers-description-text,
            .payers-count {
              font-size: 0.9em;
              color: lightgray;
            }
            .payers-count {
              color: map-get($colors, primary);
            }
          }
        }
      }
    }
  }
}

@import '../../../theme/global-styles.scss'
