<ion-header>
  <ion-navbar>
    <ion-title>Waiting Lobby</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class='cards-bg' *ngIf="ticketService.firestoreTicketItems; else loading">
  <ng-container>

    <ion-card id='curUserCard' (click)="ticketService.toggleIsExpanded(ticketService.curUser)">
      <ion-card-content>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{ ticketService.curUser.photoUrl }}">
          </ion-avatar>
          <ion-label> {{ ticketService.curUser.name }} </ion-label>
          <ion-spinner class="ticket-spinner" name="dots" item-end *ngIf="ticketService.curUser.status < userStatus.Confirmed"></ion-spinner>
          <ion-icon name="checkmark-circle-outline" item-end *ngIf="ticketService.curUser.status >= userStatus.Confirmed"></ion-icon>
          <ion-icon [name]="ticketService.getUserExpanded(ticketService.curUser) ? 'arrow-dropdown' : 'arrow-dropup'" item-end></ion-icon>
        </ion-item>

        <ion-list *ngIf="ticketService.getUserExpanded(ticketService.curUser)">
          <ion-item *ngFor="let item of ticketService.curUser.ticketItems">
            <div item-start class="item-name"> {{ ticketService.getTicketItemName(item.name) }} </div>
            <div item-end class="item-total">
              <span class="share-text" *ngIf="item.users && item.users.length > 1">
                  ${{ ticketService.findUserShareOfItem(item, ticketService.curUser.uid) / 100 | number: '1.2-2' }} /
                </span>
                <span class="total-text">
                  ${{ item.price / 100 | number: '1.2-2' }}
                </span>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card id='allUsersCard' *ngIf="ticketService.users.length > 1">
      <ion-card-header class="card-header" id="tell-your-friends">
        Tell your friends to pick their food already!
        <ion-label id="your-party">
          Your Party:
        </ion-label>
      </ion-card-header>
          <ion-list>
            <ng-container *ngFor="let user of ticketService.users">
              <ng-container *ngIf="user.uid !== ticketService.curUser.uid">
                  <ion-card-content>
                      <ion-item (click)="ticketService.toggleIsExpanded(user)">
                        <ion-avatar item-start>
                          <img [src]="user.photoUrl">
                        </ion-avatar>
                        <ion-label> {{ user.name }} </ion-label>
                        <ion-spinner class="ticket-spinner" name="dots" item-end *ngIf="user.status < userStatus.Confirmed"></ion-spinner>
                        <ion-icon name="checkmark-circle-outline" item-end *ngIf="user.status >= userStatus.Confirmed"></ion-icon>
                        <ion-icon [name]="ticketService.getUserExpanded(user) ? 'arrow-dropdown' : 'arrow-dropup'" item-end></ion-icon>
                      </ion-item>

                      <ion-list *ngIf="ticketService.getUserExpanded(user)">
                        <ion-item *ngFor="let item of user.ticketItems">
                          <div item-start class="item-name"> {{ ticketService.getTicketItemName(item.name) }} </div>
                          <div item-end class="item-total">
                            <span class="share-text" *ngIf="item.users && item.users.length > 1">
                              ${{ ticketService.findUserShareOfItem(item, user.uid) / 100 | number: '1.2-2' }} /
                            </span>
                            <span class="total-text">
                              ${{ item.price / 100 | number: '1.2-2' }}
                            </span>
                          </div>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
              </ng-container>
            </ng-container>
          </ion-list>
      </ion-card>

      <ion-card>
        <ion-card-header class="card-header">
          Shared Items:
        </ion-card-header>
        <ion-list>
          <ion-item *ngFor="let item of ticketService.sharedItems">
            <div item-start>
              <ion-row class="item-name">
                {{ ticketService.getTicketItemName(item.name) }}
              </ion-row>
              <ion-row class="payer-description" text-wrap>
                {{ item.payersDescription }}
              </ion-row>
            </div>
             <div item-end class="total-text">
                ${{ item.price / 100 | number: '1.2-2' }}
             </div>
          </ion-item>
        </ion-list>
      </ion-card>

      <ion-card *ngIf="ticketService.unclaimedItems.length > 0">
        <ion-card-header class="card-header">
          ⚠️Unclaimed Items <span id="go-back-text">Go back to claim</span>
        </ion-card-header>
        <ion-list>
          <ion-item *ngFor="let item of ticketService.unclaimedItems">
              <div item-start class="item-name"> {{ ticketService.getTicketItemName(item.name) }} </div>
              <div item-end class="total-text"> ${{ item.price / 100 | number: '1.2-2' }} </div>
          </ion-item>
        </ion-list>
      </ion-card>
  </ng-container>

  <ng-template #loading>
    <p class="muted">Loading Waiting Room...</p>
    <ion-spinner class="ticket-spinner" name="dots"></ion-spinner>
  </ng-template>
</ion-content>

<ion-footer>
  <ng-container>
    <ion-label text-wrap color="light" class="confirm-text" *ngIf="selectConfirmButton && ticketService.unclaimedItems.length > 0">
      All Items must be selected to move forward.
    </ion-label>
    <ion-label text-wrap color="light" class="confirm-text">
      {{ selectConfirmButton ? (checkConfirmedStatus() ? 'All users have confirmed! Moving on to payment...' : 'Waiting for the rest of your party to finish...') : 'Make sure all users have joined before confirming' }}
    </ion-label>
    <button ion-button block (click)="toggleConfirm()"
      [disabled]="ticketService.firestoreTicket.overallUsersProgress > userStatus.Waiting && ticketService.unclaimedItems.length === 0">
      {{ selectConfirmButton ? 'Cancel' : 'Confirm' }}
    </button>
  </ng-container>
</ion-footer>
