page-waiting-room {
  .confirm-text{
    text-align: center;
  }
  #tell-your-friends {
    text-align: center;
  }
  #your-party {
    text-align: left;
    color: darkgrey;
  }
  #go-back-text {
    font-style: italic;
    font-size: small;
  }
  .card-header {
    font-size: medium;
    padding-bottom: 5px;
  }
  .payer-description {
    font-size: small;
  }
}
