<!--
  Generated template for the WaitingRoomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Waiting Lobby</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class='cards-bg' *ngIf="ticketService.firestoreTicketItems; else loading">
  <ng-container>

    <ion-card id='curUserCard'>
      <ion-card-content>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{ ticketService.curUser.photoUrl }}">
          </ion-avatar>
          <ion-label> {{ ticketService.curUser.name }} </ion-label>
          <ion-spinner class="ticket-spinner" name="dots" item-end *ngIf="ticketService.curUser.status < userStatus.Confirmed"></ion-spinner>
          <ion-icon [name]="ticketService.curUser.status > userStatus.Waiting ? 'checkmark-circle-outline' : 'timer'" item-end></ion-icon>
          <button ion-button icon-only (click)="ticketService.toggleIsExpanded(ticketService.curUser)" item-end>
            <ion-icon [name]="ticketService.getUserExpanded(ticketService.curUser) ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
          </button>
        </ion-item>

        <ion-list *ngIf="ticketService.getUserExpanded(ticketService.curUser)">
          <ion-item *ngFor="let item of ticketService.curUser.ticketItems">
            <div item-start> {{ ticketService.getTicketItemName(item.name) }} </div>
            <div item-end>
              <span class="my-share-text" *ngIf="item.users && item.users.length > 1">
                  {{ ticketService.findUserShareOfItem(item, ticketService.curUser.uid) / 100 | number: '1.2-2' }} /
                </span>
                <span class="total-text">
                  {{ item.price / 100 | number: '1.2-2' }}
                </span>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card id='allUsersCard' *ngIf="ticketService.users.length > 1">
      <ion-card-header>
        Tell your freinds to pick their food already!
      </ion-card-header>
      <ion-card-header>
        Your Party:
      </ion-card-header>
          <ion-list>
            <ng-container *ngFor="let user of ticketService.users">
              <ng-container *ngIf="user.uid !== ticketService.curUser.uid">
                  <ion-card-content>
                      <ion-item>
                        <ion-avatar item-start>
                          <img [src]="user.photoUrl">
                        </ion-avatar>
                        <ion-label> {{ user.name }} </ion-label>
                        <ion-spinner class="ticket-spinner" name="dots" item-end *ngIf="user.status < userStatus.Confirmed"></ion-spinner>
                        <ion-icon [name]="user.status > userStatus.Waiting ? 'checkmark-circle-outline' : 'timer'" item-end></ion-icon>
                        <button ion-button icon-only (click)="ticketService.toggleIsExpanded(user)" item-end>
                          <ion-icon [name]="ticketService.getUserExpanded(user) ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
                        </button>
                      </ion-item>

                      <ion-list *ngIf="ticketService.getUserExpanded(user)">
                        <ion-item *ngFor="let item of user.ticketItems">
                          <div item-start> {{ ticketService.getTicketItemName(item.name) }} </div>
                          <div item-end>
                            <span class="my-share-text" *ngIf="item.users && item.users.length > 1">
                              {{ ticketService.findUserShareOfItem(item, user.uid) / 100 | number: '1.2-2' }} /
                            </span>
                            <span class="total-text">
                              {{ item.price / 100 | number: '1.2-2' }}
                            </span>
                          </div>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
              </ng-container>
            </ng-container>
          </ion-list>
      </ion-card>

      <ion-card *ngIf="ticketService.sharedItems.length > 0">
        <ion-card-header>
          Shared Items:
        </ion-card-header>
        <ion-list>
          <ion-item *ngFor="let item of ticketService.sharedItems">
            <div item-start>
              <ion-row>
                {{ ticketService.getTicketItemName(item.name) }}
              </ion-row>
              <ion-row>
                {{ item.payersDescription }}
              </ion-row>
            </div>
             <div item-end>
                {{ item.price / 100 | number: '1.2-2' }}
             </div>
          </ion-item>
        </ion-list>
      </ion-card>

      <ion-card *ngIf="ticketService.unclaimedItems.length > 0">
        <ion-card-header>
          ⚠️Unclaimed Item - Go back to claim
        </ion-card-header>
        <ion-list>
          <ion-item *ngFor="let item of ticketService.unclaimedItems">
              <div item-start> {{ ticketService.getTicketItemName(item.name) }} </div>
              <div item-end> {{ item.price / 100 | number: '1.2-2' }} </div>
          </ion-item>
        </ion-list>
      </ion-card>
  </ng-container>

  <ng-template #loading>
    <p class="muted">Loading Waiting Room...</p>
    <ion-spinner class="ticket-spinner" name="dots"></ion-spinner>
  </ng-template>
</ion-content>

<ion-footer>
  <ng-container>
    <ion-label color="light" *ngIf="selectConfirmButton">
      {{ checkConfirmedStatus() ? 'All users have confirmed! Moving on to payment...' : 'Waiting for the rest of your party to finish...' }}
    </ion-label>
    <button ion-button block (click)="toggleConfirm()"
      [disabled]="ticketService.firestoreTicket.overallUsersProgress > userStatus.Waiting && ticketService.unclaimedItems.length === 0">
      {{ selectConfirmButton ? 'Cancel' : 'Confirm' }}
    </button>
  </ng-container>
</ion-footer>
