.fraud-code-button {
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
     .fraud-code-icon {
        font-size: 2rem;
        color: orange;
     }
  }

.input {
    padding-left: 0px;
    margin-bottom: 10px;
    max-width: 100%;
}

.submit-button {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1rem;
    ion-icon {
        padding-right: 5px;;
    }
  }

.header {
    font-size: 1.75rem;
    text-align: left;
    text-overflow: ellipsis;
}

.content {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-align: left;
}

.center-element {
    text-align: center;
}

.ticket-mode {
    width: 100%;
    height: 100%;
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    text-align: center;
    ion-label {
        font-size: 1rem;
        white-space: normal;
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    ion-radio {
        --color: transparent !important;
        --color-checked: transparent !important;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
    }
}

ion-card {
    margin-top: 0.25rem;
}

p {
    font-size: 1rem;
}

.item-radio-checked{
    outline: auto;
}

.loader {
    &-good {
        text-align: center;
        color: green
    }
    &-warning {
        text-align: center;
        color: yellow;
    }
    &-bad {
        text-align: center;
        color: red
    }

}

  