
.fraud-code-button {
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
     .fraud-code-icon {
        font-size: 2rem;
        color: orange;
     }
  }

.input {
    padding-left: 0px;
    margin-bottom: 10px;
    max-width: 100%;
}

.submit-button {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1rem;
  }

.header {
    font-size: 1.75rem;
    text-overflow: ellipsis;
}

.content {
    padding-right: 1rem;
    padding-left: 1rem;
}

.center-element {
    text-align: center;
}

p {
    font-size: 1rem;
}
  