page-story {
  .bottom-border {
    border-bottom: 1px solid gray;
  }

  .unset-background {
    background-color: unset;
  }

  .comment-style {
    background: rgba(255, 255, 255, 0.04);
    margin-bottom: 16px;
  }

  .new-comment-text {
    .text-input {
      color: lightgray;
    }
    color: lightgray;
    padding: 0 10px;
  }

  .heart-padding {
    font-size: inherit;
    margin: 0px 0px 0px 0px;
    padding-left: 11px;
    padding-right: 0px;
  }

  .like-comment-row {
    font-size: 1.3rem;
    white-space: nowrap;
  }

  .like-btn-padding {
    font-size: inherit;
    margin: 0px 0px 0px 0px;
    padding-left: 5px;
    padding-right: 16px;
  }

  .comment-btn-padding {
    font-size: inherit;
    margin: 0px 0px 0px 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
  }

  .comment-section-padding {
    padding: 5px 16px 5px 16px;
  }

  .comment-ellipsis {
    margin: 11px 0px 0px 0px;
    padding: 0px 0px;
  }

  .comment-text {
    color: lightgray;
    margin: 0px 16px 0px 16px;
    white-space: pre-wrap;
  }

  .comment-avatar {
    margin: 8px 16px 8px 16px;
  }

  .no-padding-top {
    padding-top: 0px;
  }

  .story-users-avatar img {
    margin: auto;
  }

  .plus-others {
    color: map-get($colors, primary);
  }

  .users-padding {
    color: lightgray;
    padding: 0px 0px 0px 0px;
    margin-left: 16px;
  }

  .card .note-md {
    font-size: 1.2rem;
  }

  .date-padding {
    padding-top: 12px;
    padding-right: 16px;
  }
}
