<ion-header>

  <ion-navbar>
    <ion-title>Story</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card *ngIf="!!story">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="story.ticket.location.photo_url" />
      </ion-avatar>
      <h2>{{ story.ticket.location.name }}</h2>

      <!-- Using Angular's DatePipe to format date from DB -->
      <ion-note>{{ story.date_created | date:'mediumDate' }} {{ story.date_created | date:'shortTime' }} </ion-note>
      <h3>{{ story.ticket.location.city }}</h3>
      <p>{{ story.ticket.location.streetAddress }}</p>
    </ion-item>

    <!-- List of users of story/ticket
    <ion-row>
      <ion-col text-center>
        <ion-list>
          <ng-container *ngFor='let user of story.ticket.users; index as userIndex'>
            <div *ngIf="showMoreUsers ? true : userIndex < 2">
              <ion-item text-center>
                <ion-avatar item-start class="story-users-avatar">
                  <img [src]="user.userDetail.photo_url"/>
                </ion-avatar>
                <ion-note>{{user.userDetail.displayName}}</ion-note>
              </ion-item>
            </div>
          </ng-container>
          <button ion-button block clear small icon-end color="tabify" (click)="showMoreUsers = !showMoreUsers">
            {{ showMoreUsers ? 'Show Less' : 'Show More' }}
            <ion-icon [name]="showMoreUsers ? 'md-arrow-dropdown' : 'md-arrow-dropright'"></ion-icon>
          </button>
        </ion-list>
      </ion-col>
    </ion-row> -->

    <!-- Abbreviated names of users part of the ticket -->
    <ion-row>
      <ion-col class="users-padding">
        <div>
          <p [innerHTML]="this.ticketUsersDescription(story.ticket.users, 3)"></p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="like-comment-row bottom-border">
      <ion-col>

        <button [disabled]="story.loadingLike" ion-button color="primary" clear icon-start
          (click)='createLike(); $event.stopPropagation()' class="heart-padding">
          <ion-spinner *ngIf="story.loadingLike" color="primary" name="bubbles"></ion-spinner>

          <ng-container *ngIf="!story.loadingLike">
            <ion-icon [name]="story.likedByLoggedInUser ? 'heart' : 'heart-outline'"></ion-icon>
          </ng-container>
        </button>

        <button ion-button color="primary" clear
          (click)="this.displayLikers(story.likes.length); $event.stopPropagation()" class="like-btn-padding">
          {{ story.likes.length === 0 ? '' : story.likes.length }}
          {{ story.likes.length <= 1 ? 'Like' : 'Likes' }}
        </button>

      </ion-col>
      <ion-col text-right>
        <button ion-button color="primary" clear icon-start class="comment-btn-padding">
          <ion-icon [name]="story.comment_count > 0 ? 'text' : 'text-outline'"></ion-icon>
          &nbsp; {{ story.comment_count === 0 ? '' : story.comment_count }}
          {{story.comment_count <= 1 ? 'Comment' : 'Comments'}}
        </button>
      </ion-col>
    </ion-row>

    <ion-card-content *ngIf="comments.length > 0; else emptyComments" class="comment-section-padding">
      <ion-row>
        <ion-col text-center>
          <p>Comments</p>
        </ion-col>
      </ion-row>
      <ng-container *ngFor="let comment of comments; index as commentIndex">
        <ng-container *ngIf="!!comment">
          <div class="comment-style">
            <ion-row>
              <ion-col col-11>
                <ion-item class="unset-background">
                  <ion-avatar class="comment-avatar" item-start>
                    <img [src]="comment.user.userDetail.photo_url" />
                  </ion-avatar>
                  <ion-note>{{comment.user.userDetail.displayName}}</ion-note>
                  <div>
                    <ion-note>{{comment.relativeTime}}</ion-note>
                  </div>
                </ion-item>
              </ion-col>
              <ion-col text-right col-1>
                <ion-spinner class="comment-ellipsis" *ngIf="comment.beingDeleted" color='primary' name="bubbles"
                  margin-right></ion-spinner>
                <button class="comment-ellipsis" *ngIf="(!comment.beingDeleted) && (comment.user.uid === user.uid)"
                  ion-button clear small icon-start (click)='presentActionSheet(comment.id, commentIndex)'>
                  <ion-icon name="md-more"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="no-padding-top">
                <p class="comment-text">{{comment.text}}</p>
              </ion-col>
            </ion-row>
          </div>
        </ng-container>
      </ng-container>
    </ion-card-content>

    <ng-template #emptyComments>
      <ion-card-content class="comment-section-padding">
        <ion-row>
          <ion-col text-center>
            <p>No comments yet...</p>
            <div>
              <p>Post your thoughts below!</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ng-template>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <ion-textarea class="new-comment-text" *ngIf="!newCommentPosting" [(ngModel)]="newComment"
      placeholder="Enter a new comment!">
    </ion-textarea>
    <ion-spinner *ngIf="newCommentPosting" color="primary" name="bubbles"></ion-spinner>
    <button *ngIf="!newCommentPosting" [disabled]="newComment.length === 0" ion-button small outline
      (click)='createComment()'>Post Comment</button>
  </ion-toolbar>
</ion-footer>