page-login {
  button {
    ion-icon {
      margin-right: 1rem;
    }
  }

  .list-ios[inset], .list-md[inset] {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  #form-card-header {
    padding-bottom: 0;
  }

  .sign-up-text {
      margin-left: 1rem;
      color: map-get($colors, primary);
  }
}
