$blank-space-height: 60px;
page-home {
  ion-segment.segment-ios {
    max-width: 55%;
    margin: auto;
  }
  .bar-buttons-md[right] {
    margin-left: 2rem !important;
  }
  .bar-buttons-ios[right] {
    margin-right: 0.65rem !important;
  }
  .members-comments {
    .members-comment {
      &:first-child {
        margin-top: 0.5em;
      }
      color: #8e9093;
    }
  }

  .pay-tab {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 700px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    &-text {
      color: map-get($colors, light);
      font-weight: 400;
      font-size: 20px;
    }
  }
  .blank-space {
    height: $blank-space-height;
  }

  .empty-feed-arrow {
    color: red;
    font-size: 48px;
  }

  .empty-feed {
    height: calc(100% - #{$blank-space-height});
    position: relative;
    &-img {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      max-width: 700px;
      background: url(../assets/imgs/home/empty-feed.png);
      background-repeat: repeat-y;
      background-size: contain;
      background-position: center;
      margin: 0 auto;
    }

    &-overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      background: linear-gradient(
        to bottom,
        rgba(37, 37, 38, 1) 5%,
        rgba(37, 37, 38, 0.5) 150%
      );
    }

    &-text {
      position: absolute;
      z-index: 3;
      height: 100%;
      width: 100%;
      text-align: center;
      color: map-get($colors, light);
      padding: 30px 0;
      font-weight: 400;
      font-size: 15px;
    }
  }

  .tabify-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 3px;
    height: 42px;
  }

  ion-refresher {
    z-index: 1000;
    background-color: map-get($colors, primary);
  }

  .plus-others {
    color: map-get($colors, primary);
  }

  .gray-arrow {
    color: lightgray;
  }
}
