<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment color="tabify-alt" [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="global" icon-only>
        <ion-icon name="globe"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="community" icon-only>
        <ion-icon name="people"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="user" icon-only>
        <ion-icon name="person"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons right>
      <button (click)="showNotifications()" ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger">7</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="dots"
      refreshingText="Refreshing stories...">
    </ion-refresher-content>
  </ion-refresher>
  <button ion-fixed ion-button block color="tabify" class="pay-tab" icon-start (click)="payNewTab()">
    <ion-icon name="md-restaurant"></ion-icon>
    Pay Tab
  </button>

  <div class="blank-space"></div>

  <div *ngIf="newsfeedService.stories?.length > 0; else emptyFeed">
    <ng-container *ngFor="let story of newsfeedService.stories">
      <ion-card *ngIf="!!story">
        <ion-item>
          <ion-avatar item-start>
            <img src={{story.ticket.location.photo_url}} />
          </ion-avatar>
          <h2 (click)="openDetailedStory(story.id)">{{ story.ticket.location.name }}</h2>
          <ion-note> {{story.timeStamp}} </ion-note>
          <h3>{{ story.ticket.location.city }}</h3>
          <p>{{ story.ticket.location.streetAddress }}</p>
          <ion-note item-end>2 mi.</ion-note>
        </ion-item>
        <ion-card-content>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button color="primary" clear small icon-start (click)='createLike(story.id)'>
              <ion-icon name="heart"></ion-icon>
              {{ story.like_count }}&nbsp;
              <div *ngIf="story.like_count != 1; else singularLikes">Likes</div>
              <ng-template #singularLikes>Like</ng-template>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button color="primary" clear small icon-start (click)="openDetailedStory(story.id)">
              <ion-icon name="text"></ion-icon>
              {{ story.comment_count }}&nbsp;
              <div *ngIf="story.comment_count != 1; else singularComment">Comments</div>
              <ng-template #singularComment>Comment</ng-template>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-container>
  </div>

  <!-- If selected segment's feed is empty, display this template -->
  <ng-template #emptyFeed>
    <ion-row class="no-feed-row" align-items-center>
      <ion-col text-center>
        <h6>No payment history (yet!)</h6>
        <div>
          <h6>To join a tab, hit the Pay Tab button</h6>
        </div>
        <h1>🥂</h1>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>