<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <img class="tabify-icon" src="assets/imgs/logo.png" />
    <ion-buttons right>
      <button (click)="showNotifications()" ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger">7</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="dots"
      refreshingText="Refreshing stories...">
    </ion-refresher-content>
  </ion-refresher>
  <button ion-fixed ion-button block color="tabify" class="pay-tab" icon-start (click)="payNewTab()">
    <ion-icon name="md-restaurant"></ion-icon>
    Pay Tab
  </button>

  <div class="blank-space"></div>

  <div *ngIf="this.newsfeedService.tickets?.length > 0; else emptyFeed">
    <ng-container *ngFor="let ticket of this.newsfeedService.tickets">
      <ion-card (click)="openDetailedStory(ticket.story.id)" *ngIf="!!ticket">
      <!-- <ion-card *ngIf="!!ticket"> -->
        <ion-item>
          <ion-avatar item-start>
            <img src={{ticket.location.photo_url}} />
          </ion-avatar>
          <h2>{{ ticket.location.name }}</h2>
          <!-- Using Angular's DatePipe to format date from DB -->
          <ion-note>{{ ticket.story.date_created | date:'mediumDate' }}
            {{ ticket.story.date_created | date:'shortTime' }} </ion-note>
          <h3>{{ ticket.location.city }}</h3>
          <p>{{ ticket.location.streetAddress }}</p>
          <ion-icon class="gray-arrow" item-end name="arrow-dropright"></ion-icon>
        </ion-item>

        <!-- Abbreviated names of users part of the ticket -->
        <ion-row>
          <ion-col>
            <div (click)='displayAllUsersNames(ticket.users)'>
              <p margin-left [innerHTML]="this.getTicketUsersDescription(ticket.users, 3)"></p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <button [disabled]="ticket.loadingLike" ion-button color="primary" clear small icon-start
              (click)='createLike(ticket.id, ticket.story.id); $event.stopPropagation()'>
              <ion-spinner *ngIf="ticket.loadingLike" color="primary" name="bubbles"></ion-spinner>

              <ng-container *ngIf="!ticket.loadingLike">
                <ion-icon *ngIf="!ticket.story.likedByLoggedInUser; else fullHeart" name="heart-outline"></ion-icon>
                <ion-icon #fullHeart *ngIf="ticket.story.likedByLoggedInUser" name="heart"></ion-icon>
              </ng-container>
              {{ ticket.story.likes.length > 0 ? ticket.story.likes.length : '' }}
            </button>

          </ion-col>
          <ion-col text-right>
            <button ion-button color="primary" clear small icon-start>
              <ion-icon name="text"></ion-icon>
              {{ ticket.story.comment_count }} {{ticket.story.comment_count === 1 ? 'Comment' : 'Comments'}}
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-container>
  </div>

  <!-- If selected segment's feed is empty, display this template -->
  <ng-template #emptyFeed>
    <div class="empty-feed">
      <div class="empty-feed-text">
        Your past transactions <br>will appear here
        <h1>🥂</h1>
      </div>
      <div class="empty-feed-overlay"></div>
      <div class="empty-feed-img"></div>
    </div>
  </ng-template>
</ion-content>