page-home {
    ion-segment.segment-ios {
        max-width: 65%;
        margin: auto;
    }
    .bar-buttons-md[right] {
        margin-left: 2rem !important;
    }
    .bar-buttons-ios[right] {
        margin-right: 0.65rem !important;
    }
}
