page-home {
  ion-segment.segment-ios {
    max-width: 55%;
    margin: auto;
  }
  .bar-buttons-md[right] {
    margin-left: 2rem !important;
  }
  .bar-buttons-ios[right] {
    margin-right: 0.65rem !important;
  }
  .members-comments {
    .members-comment {
      &:first-child {
        margin-top: 0.5em;
      }
      color: #8e9093;
    }
  }

  .pay-tab {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 24px);
    &.button-ios {
      width: calc(100% - 24px);
    }
    &.button-md {
      width: calc(100% - 20px);
    }
    &-text {
      color: map-get($colors, light);
      font-weight: 400;
      font-size: 20px;
    }
  }
  .blank-space {
    height: 60px;
  }
}
