page-coupons {
  img {
    &.coupon-image {
      float: right;
      width: 100%;
      height: auto;
      max-width: 65px;
      max-height: 90px;
    }
  }

  .card-content {
    padding: 5px;
  }

  .coupon-description {
    font-size: 1.2rem;
  }

  .page-title {
    text-align: center;
  }

  .header {
    text-align: center;
    .first-header {
      font-size: 1.4rem;
    }
    .second-header {
      font-size: 1.6rem;
    }
  }

  .location-item {
    padding: 0;

    .avatar {
      margin-right: 8px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    div {
      ion-label {
        margin: 0;
      }
    }
      h2 {
        font-size: 1.3rem;
      }
      .restaurant-address {
        color: #aeacb4;
        font-size: 1.0rem;
      }
  }

  .value {
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 12px;
  }

  ion-label {
    white-space: normal;
  }

  ion-col {
    padding: 0;
    margin: 0;
  }

  ion-card-content {
    padding: 0;
    margin: 0;
  }

  ion-card {
    padding: 0;
    margin: 0;
  }
  .end-info {
    padding-top: 6px;
    font-size: 1.2rem;
    text-align: center;
  }
  .redeem-button-container {
    padding-top: 0px;
    text-align: center;
    .redeem-button {
      font-size: 1.2rem;
      height: 2rem;
    }
  }
}
