page-coupons {
  .header {
    text-align: center;
    font-size: 18px;
  }
  .coupon_location {
    font-size: 17px;
  }
  .cooupon_header {
    font-size: 15px;
    padding-left: 10px;
  }
  .coupon_description {
    font-size: 9.5px;
  }
  .end_info {
    font-size: 12px;
    padding: 3px;
  }
}
