<ion-header no-border>
  <ion-navbar class="transparent-toolbar">
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h2>Welcome 👋</h2>
        <span>Create an account to get started</span>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="signUpStep!==SignUpStep.REFERRAL_CODE_ENTRY">
      <ion-col text-center>
        <ion-card>
          <ion-card-header text-wrap>
            Did your server refer you to Tabify?
          </ion-card-header>
          <ion-card-content>
            <ion-row *ngIf="showServerCodeInput">
              <ion-list inset>
                <ion-item>
                  <ion-label floating>Enter Referral Code</ion-label>
                  <ion-input type="text" [(ngModel)]="referralCode"></ion-input>
                </ion-item>
              </ion-list>
            </ion-row>
            <ion-row *ngIf="showServerCodeInput">
              <ion-col col-6>
                <button ion-button block color="tabify" float-right [disabled]="referralCode.length === 0"
                  (click)="signUpStep=SignUpStep.USER_INFO_ENTRY">
                  Submit
                </button>
              </ion-col>
              <ion-col col-6>
                <button ion-button block color="tabify-alt" float-left [disabled]="referralCode.length !== 0"
                  (click)="signUpStep=SignUpStep.USER_INFO_ENTRY">
                  Skip
                </button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!showServerCodeInput">
              <ion-col col-6>
                <button ion-button block color="tabify" float-right (click)="showServerCodeInput=true">
                  Yes
                </button>
              </ion-col>
              <ion-col col-6>
                <button ion-button block color="tabify-alt" float-left (click)="signUpStep=SignUpStep.USER_INFO_ENTRY">
                  No
                </button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- TODO: Bring back Facebook sign up -->
    <!-- <ion-row [hidden]="signUpStep!==SignUpStep.USER_INFO_ENTRY">
      <ion-col>
        <ion-card>
          <ion-card-header>
            Recommended
          </ion-card-header>
          <ion-card-content>
            <button ion-button color="tabify" (click)="signUpWithFacebook()" block>
              <ion-icon name="logo-facebook"></ion-icon>
              Sign Up With Facebook
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
    <ion-row [hidden]="signUpStep!==SignUpStep.USER_INFO_ENTRY">
      <ion-col>
        <ion-card>
          <ion-card-header id="form-card-header">
            <!-- TODO: Change back to 'Or connect with email' -->
            Connect with email
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="signUp()" [formGroup]="form">
              <ion-list inset>
                <ion-item>
                  <ion-label floating>*First Name</ion-label>
                  <ion-input type="text" formControlName="firstName"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>*Last Name</ion-label>
                  <ion-input type="text" formControlName="lastName"></ion-input>
                </ion-item>
                <ion-item [ngClass]="{
                            invalid: emailErrors.hasError('*', ['touched', 'dirty'])
                          }">
                  <ion-label floating>*Email</ion-label>
                  <ion-input (input)="inputChange()" type="text" formControlName="email"></ion-input>
                </ion-item>
                <div ngxErrors="email" #emailErrors="ngxErrors" [class.errors]="emailErrors.hasErrors">
                  <div [ngxError]="['email', 'required']" [when]="['dirty']">
                    Enter a valid email
                  </div>
                </div>
                <ion-item [ngClass]="{
                            invalid: passwordErrors.hasError('*', ['touched', 'dirty'])
                          }">
                  <ion-label floating>*Password</ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div ngxErrors="password" #passwordErrors="ngxErrors" [class.errors]="passwordErrors.hasErrors">
                  <div [ngxError]="['minlength', 'required']" [when]="['dirty']">
                    Password must have at least 6 characters
                  </div>
                  <div [ngxError]="['pattern']" [when]="['dirty']">
                    Password must not contain spaces
                  </div>
                </div>
              </ion-list>

              <div>
                <div class="errors">{{ signUpError }}</div>
                <button ion-button block type="submit" [disabled]="!form.valid">
                  Sign Up
                </button>
                <p class="muted">* indicates required field</p>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="signUpStep!==SignUpStep.USER_INFO_ENTRY">
      <ion-col text-center>
        <button ion-button color="tabify-alt" (click)="login()" clear>
          Already a Tabify user?<span class="login-text">Login.</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>