// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts';
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import 'ionic.globals';

// uigradients
// For more info, see: https://github.com/subinsebastian/uigradients-scss
@import './gradient-mixins';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$base-colors: (
  primary: #ed932d,
  secondary: #32db64,
  danger: #f53d3d,
  warning: #f5bb3d,
  light: #f4f4f4,
  dark: #222,
);
$extended-colors: (
  tabify: (
    base: map-get($base-colors, primary),
    contrast: map-get($base-colors, light),
  ),
  tabify-alt: (
    base: map-get($base-colors, light),
    contrast: map-get($base-colors, primary),
  ),
  tabify-dark-1: #252526,
  tabify-dark-2: #3a3a3a,
);
$colors: (map-merge($base-colors, $extended-colors));

$background-color: map-get($colors, tabify-dark-1);
$refresher-icon-color: map-get($colors, light);
$refresher-text-color: map-get($colors, light);
$toolbar-background: map-get($colors, tabify-dark-2);
$toolbar-text-color: map-get($colors, light);
$list-background-color: map-get($colors, tabify-dark-2);
$text-color: map-get($colors, light);
$subdued-text-color: red;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$spinner-ios-dots-color: map-get($colors, primary);
$loading-ios-spinner-color: map-get($colors, primary);
$card-ios-background-color: map-get($colors, tabify-dark-2);
$card-ios-header-color: map-get($colors, light);
$toolbar-ios-title-text-color: map-get($base-colors, light);
$toolbar-ios-button-color: map-get($base-colors, light);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$spinner-md-dots-color: map-get($colors, primary);
$loading-md-spinner-color: map-get($colors, primary);
$card-md-background-color: map-get($colors, tabify-dark-2);
$card-md-header-color: map-get($colors, light);
$toolbar-md-title-text-color: map-get($base-colors, light);
$toolbar-md-button-color: map-get($base-colors, light);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import 'ionic.theme.default';
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import 'ionic.ionicons';
// Fonts
// --------------------------------------------------

@import 'roboto';
@import 'noto-sans';