page-tax-tip {
  #nav-pay-btn {
    color: map-get($colors, primary);
  }

  .fraud-prevention-key {
    color: map-get($colors, primary);
    font-size: 1.6em;
  }

  .total {
    &.discount h2 {
      color: #e69900;
      font-weight: bold;
    }
    color: gray;
  }

  .tab-item {
    border-bottom: 1px lightgray solid;
    &:last-of-type {
      border-bottom: none;
    }
  }

  #grand-total {
    border-bottom: 1px lightgray dashed;
    h2 {
      font-weight: bold;
    }
  }

  .edit-icon {
    vertical-align: middle;
    color: map-get($colors, tabify-dark-2);
  }

  .line {
    white-space: normal;
    &-details {
      color: gray;
    }
  }

  .linked-card-icon {
    color: map-get($colors, primary);
  }
}

div.reviews > ion-item.item-feedback {
  border-left: 3px solid map-get($colors, primary);
  border-radius: 4px;
  padding-left: 0px;
  .text-input {
    color: map-get($colors, light);
    margin: 4px 7px;
    &-ios {
      padding-left: 1rem;
    }
  }
  textarea {
    height: 4em;
  }
}

ul.rating {
  padding: 0;
  margin: 0;

  li {
    padding: 0px 3px !important;
    background: none;
    color: map-get($colors, primary);

    ion-icon {
      font-size: 25px;
    }
  }
}



