<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Checkout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class='cards-bg'>
  <ion-card>
    <ion-card-header>
      My Total
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf='this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.items !== this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.sub_total' class='total'>
        <h2>My Items</h2>
        <div item-end>
          <h2>${{this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.items / 100 | number: '1.2-2'}}</h2>
        </div>
      </ion-item>
      <ion-item *ngIf='this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.discounts > 0 && this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.items !== this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.sub_total' class='total discount'>
        <h2>Discounts 🙌</h2>
        <div item-end>
          <h2>–${{this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.discounts - this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.items !== this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.selected_coupon?.estimated_dollar_value / 100 | number: '1.2-2'}}</h2>
        </div>
      </ion-item>
      <ion-item class='total'>
        <h2>Subtotal</h2>
        <div item-end>
          <h2>${{this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.sub_total / 100 | number: '1.2-2'}}</h2>
        </div>
      </ion-item>
      <ion-item class='total' *ngIf="couponService.validCoupons.length > 0" (click)="editCoupon()">
        <h2>Promo
         <span class='line-details' *ngIf="couponService.selectedCoupon; else emptyCoupon;"> {{ couponService.selectedCoupon?.coupon_type === CouponType.dollar_value ? '$' + (couponService.selectedCoupon?.value / 100 | number: '1.2-2') : couponService.selectedCoupon?.value + '%' }}
           off {{ couponService.selectedCoupon?.coupon_off_of === CouponOffOf.ticket ? 'the full bill' : couponService.selectedCoupon?.menu_item_name}}</span>
           <ng-template #emptyCoupon>
            <span class='line-details'> No Coupon Selected </span>
           </ng-template>
        </h2>
       <div item-end>
         <h2>
           <ion-badge [ngClass]="{'edit-icon': true, 'disabled': ablyTicketService.ticket.usersMap.get(this.auth.getUid()).selected_coupon}" color="primary">
             EDIT
           </ion-badge>
           -${{((couponService.selectedCoupon?.dollar_value / 100) || 0) | number: '1.2-2'}}</h2>
       </div>
     </ion-item>
      <ion-item class='total'>
        <h2>Tax
          <span class='line-details'>({{ablyTicketService.ticket?.location.tax_rate}}%)</span>
        </h2>
        <div item-end>
          <h2>${{(this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.tax - (couponService.selectedCoupon?.estimated_tax_difference || 0))
            / 100 | number: '1.2-2'}}</h2>
        </div>
      </ion-item>
      <ion-item class='total' (click)="adjustTip()">
        <h2>Tip
          <span class='line-details'>({{this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.tipPercentage}}%)</span>
        </h2>
        <div item-end>
          <h2>
            <ion-badge class="edit-icon" color="primary">
              EDIT
            </ion-badge>
            ${{this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.tips / 100 | number: '1.2-2'}}
          </h2>
        </div>
      </ion-item>
      <ion-item id='grand-total'>
        <h2>My Grand Total</h2>
        <div item-end>
          <h2>${{ (this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.total + this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.tips -
            (couponService.selectedCoupon?.dollar_value || 0) -
            (couponService.selectedCoupon?.estimated_tax_difference || 0)) / 100 | number: '1.2-2'}}</h2>
        </div>
      </ion-item>
      <ion-item (click)="editPaymentMethod()">
        <ion-icon class="linked-card-icon" name="card" item-start></ion-icon>
        <div item-end>
          <span>
            <ion-badge class="edit-icon edit-payment" color="primary">
              EDIT
            </ion-badge>
            {{this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.paymentMethod?.card_type}} ...{{this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.paymentMethod?.last_four_digits}}
          </span>
        </div>
      </ion-item>
      <ion-label class="footnote">*Note: Tax estimate may be off by a few cents*</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      How was {{ablyTicketService.ticket?.location.name}}?
    </ion-card-header>
    <ion-card-content>
      <p id="rate-and-review">Rate and review the items you ordered.</p>
      <ng-container *ngFor='let item of myTabItems; let i=index;'>
        <ion-item class='total tab-item' *ngIf="(i<displayLimit) || displayAllItems">
          <h2 class="line">{{item.name}}
            <span class='line-details' *ngIf='item.users.length > 1'> (shared)</span>
          </h2>
          <div class="reviews">
            <rating [(ngModel)]="item.rating">
            </rating>
            <ion-item *ngIf="item.rating! > 0" class="item-feedback">
              <ion-textarea [(ngModel)]="item.feedback" placeholder="Leave feedback" autocomplete="on" spellcheck="on"
                autocorrect="on"></ion-textarea>
            </ion-item>
          </div>
          <div item-end>
            <h2>${{item.usersMap.get(auth.getUid()).price / 100 | number:'1.2-2'}}</h2>
          </div>
        </ion-item>
      </ng-container>
      <button *ngIf="!displayAllItems && myTabItems.length > displayLimit" ion-button block clear icon-end
        color="tabify" (click)="displayAllItems = true">
        Show All
        <ion-icon name="md-arrow-dropright"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar border-top>
    <button ion-button block (click)="pay()">Submit Payment of
      ${{ (this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.total + this.ablyTicketService.ticket.usersMap.get(this.auth.getUid())?.tips -
        (couponService.selectedCoupon?.dollar_value || 0) -
        (couponService.selectedCoupon?.estimated_tax_difference || 0)) / 100  | number: '1.2-2'}}
    </button>
  </ion-toolbar>
</ion-footer>
