page-tax-tip {
  .footer {
    height: 75px;
  }
  ion-toolbar {
    text-align: center;
    height: 100%;
  }
  .toolbar-title {
    color: map-get($colors, primary);
    .footer-title {
      color: map-get($colors, light);
      font-size: 14px;
      margin: 0;
    }
    .footer-subtitle {
      color: map-get($colors, light);
      font-size: 30px;
      margin: 0;
    }
  }

  .total {
    color: gray;
  }

  .tab-item {
    border-bottom: 1px lightgray solid;
    &:last-of-type {
      border-bottom: none;
    }
  }

  #grand-total {
    border-top: 1px lightgray dashed;
  }

  .adjust-tip {
    font-size: 1em;
    color: map-get($colors, light);
  }

  .line-details {
    color: gray;
  }
}

div.reviews>ion-item.item-feedback {
  border-left: 1px solid lightgray;
  padding-left: 0px;
  .text-input-ios {
    padding-left: 1rem;
  }
  textarea {
    height: 3em;
  }
}

ul.rating {
  padding: 0;
  margin: 0;

  li {
    padding: 0px 3px !important;
    background: none;
    color: map-get($colors, primary);;

    ion-icon {
      font-size: 25px;
    }
  }
}