<ion-header>
  <ion-navbar>
    <ion-title>Tax, Tip, Total</ion-title>
    <ion-buttons end>
      <button ion-button icon-end (click)="pay()">
        Pay
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class='cards-bg'>
  <ion-card>
    <ion-card-header>
      My Selected Items
    </ion-card-header>
    <ion-card-content>
      <p id="rate-and-review">Optionally rate and review the items you ordered.</p>
      <ion-item class='total tab-item' *ngFor='let item of myTabItems'>
        <h2>{{item.name}}
          <span class='line-details' *ngIf='item.users.length > 1'> (shared)</span>
        </h2>
        <div class="reviews">
          <rating [(ngModel)]="item.rating">
          </rating>
          <ion-item *ngIf="item.rating! > 0" class="item-feedback">
            <ion-textarea [(ngModel)]="item.feedback" placeholder="Leave feedback (optional)" autocomplete="on"
              spellcheck="on" autocorrect="on"></ion-textarea>
          </ion-item>
        </div>
        <div item-end>
          <h2>${{item.userShare! / 100 | number:'1.2-2'}}</h2>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      My Total
    </ion-card-header>
    <ion-card-content>
      <ion-item class='total'>
        <h2>Subtotal</h2>
        <div item-end>
          <h2>${{getSubtotal() / 100 | number: '1.2-2'}}</h2>
        </div>
      </ion-item>
      <ion-item class='total'>
        <h2>Tip
          <span class='line-details'>({{tip}}%)</span>
        </h2>
        <div item-end>
          <h2>${{getTip() / 100 | number: '1.2-2'}}</h2>
        </div>
      </ion-item>
      <ion-item class='total'>
        <h2>Tax
          <span class='line-details'>(6.25%)</span>
        </h2>
        <div item-end>
          <h2>${{getTax() / 100 | number: '1.2-2'}}</h2>
        </div>
      </ion-item>
      <ion-item id='grand-total'>
        <h2>My Grand Total</h2>
        <div item-end>
          <h2>${{getGrandTotal() / 100 | number: '1.2-2'}}</h2>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <!-- Leaving this commented in case we decide to add a cc icon here -->
          <!-- <ion-icon class="linked-card-icon" name="card" item-start></ion-icon> -->
          <span id="payment-method-title">Payment Method</span>
        </ion-label>
        <ion-select [(ngModel)]="selectedPaymentMethod" submitText="Ok" cancelText="Cancel">
          <ion-option *ngFor="let method of this.paymentService.paymentMethods" [value]="method">
            {{method.card_type}}: ****{{method.last_four_digits}}
          </ion-option>
          <hr>
          <ion-option [value]="null">Add New Card</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <p class="muted">Adjust your desired tip below.</p>
  <br>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <p class='footer-title'>Tip Your Server</p>
      <div class='footer-subtitle'>
        <ion-icon class="adjust-tip" name='remove-circle' (click)="adjustTip(false)"></ion-icon>
        {{tip}}%
        <ion-icon class="adjust-tip" name='add-circle' (click)="adjustTip(true)"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>