// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-header,
ion-card,
ion-footer {
  opacity: 0.95;
}

ion-content {
  &.cards-bg {
    @include linear-gradient(bottom left, $telegram);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  .scroll-content,
  .fixed-content {
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
  }
}

ion-footer {
  bottom: constant(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
  ion-toolbar {
    .toolbar-background {
      // TODO: Figure out how to fill safe area inset with footer color
    }
  }
}

.transparent-toolbar {
  .toolbar-background {
    background-color: transparent;
  }
}

.has-refresher .scroll-content {
  border-top: 1px solid map-get($colors, light) !important;
}

.muted {
  text-align: center;
  color: map-get($colors, light);
}

.tabify-sidemenu {
  color: map-get($colors, dark);
  &-background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    @include linear-gradient(bottom left, $clouds);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  &-display-name {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  &-email {
    margin-top: 2px;
  }
  &-profile-pic {
    height: 75px;
    width: 75px;
    font-size: 75px;
    line-height: 75px;
    border-radius: 50%;
    border: 2px solid map-get($colors, primary);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    color: map-get($colors, primary);
  }
  ion-grid {
    ion-col {
      padding: 0px;
    }
    ion-list {
      ion-item.tabify-sidemenu-list-item {
        background: none;
        color: gray;
        &.active {
          border-left: 4px solid map-get($colors, primary);
          padding-left: 12px;
          color: map-get($colors, primary);
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    padding: 0px;
    position: absolute;
    z-index: 2;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
