<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="cancel()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Find Location</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Search for restaurant by name" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class='cards-bg'>
  <ion-card *ngFor="let location of searchLocations">
    <ion-item (click)="selectLocation(location)">
      <ion-avatar item-start>
        <img [src]='location.photo_url' />
      </ion-avatar>
      <h2 text-wrap>{{ location.name }}</h2>
      <h3 text-wrap class="restaurant-address">
        <span text-nowrap>{{ location.street1 }},</span>
        <span text-nowrap>{{ location.city }}, {{ location.state }}</span>
      </h3>
      <ion-icon class="gray-arrow" item-end name="ios-arrow-forward"></ion-icon>
    </ion-item>

  </ion-card>
  <p class="muted" *ngIf="!searchLocations.length">No restaurants matched your search.</p>
  <ion-card *ngIf="locationService.locations.length">
    <ion-item>
      <p class="muted">More locations coming soon!</p>
    </ion-item>
  </ion-card>
</ion-content>
