<!-- <ion-split-pane> -->
  <ion-menu contentId="hamburger-menu">
    <ion-header>
      <ion-toolbar>
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
   </ion-menu>
   <ion-router-outlet id="hamburger-menu"></ion-router-outlet>
 <!-- </ion-split-pane> -->

<ion-tabs>

  <ion-tab-bar slot="bottom" [hidden]="!tabsService.viewTabs">
    <ion-tab-button tab="socialize">
      <!-- <ion-icon name="people-outline"></ion-icon> -->
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dine">
      <!-- <ion-icon name="receipt-outline"></ion-icon> -->
      <ion-icon name="fast-food-outline"></ion-icon>
      <!-- <ion-icon name="beer-outline"></ion-icon> -->
      <ion-label>Dine</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
