<ion-tabs>

  <ion-tab-bar slot="bottom" [hidden]="!tabsService.viewTabs">
    <ion-tab-button tab="activities">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pay">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Pay</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="square"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
