<ion-content>
  <div [ngClass]="'background image1'"></div>
  <ion-grid>
    <ion-row>
      <ion-col> <ion-img class="slide-icon" src="assets/imgs/logo.png"></ion-img></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides pager paginationType="bullets" (ionSlideDidChange)="slideChanged()">
          <ion-slide>
            <ion-text>
              <h1 color="light">Split & Pay the Tab</h1>
            </ion-text>
            <ion-text>
              <h4 color="light">
                Tabify is free and makes it easy to pay for your fair share at
                restaurants
              </h4>
            </ion-text>
          </ion-slide>
          <ion-slide>
            <ion-text>
              <h1 color="light">Restaurant Integrated</h1>
            </ion-text>
            <ion-text>
              <h4 color="light">
                Enter the 6-character code on your check to retrieve every item
                ordered at the table
              </h4>
            </ion-text>
          </ion-slide>
          <ion-slide>
            <ion-text>
              <h1 color="light">Select, Split, & Tip</h1>
            </ion-text>
            <ion-text>
              <h4 color="light">
                Select the items you ordered, split a percentage of the ones you
                shared, and leave a tip
              </h4>
            </ion-text>
          </ion-slide>
          <ion-slide>
            <ion-text>
              <h1 color="light">Seamless</h1>
            </ion-text>
            <ion-text>
              <h4 color="light">
                Make group dining fun again and eliminate the hassle of settling
                up later
              </h4>
            </ion-text>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button color="tabify" class="action-btn" float-right (click)="signUp()">
          Sign Up
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button color="tabify-alt" class="action-btn" float-left (click)="login()">
          Login
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        © 2016-{{currentYear}} Tabify, Inc. All Rights Reserved.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>