.restaurant-address {
    color: #aeacb4;
    font-size: 1.2rem;
  }

  ion-grid {
    --ion-grid-column-padding: 0;
  }

  .image {
    height: 10rem;
  }

  .date-info {
    .story-privacy {
      color: var(--ion-color-primary);
      font-size: 1.2rem;
    }
  }

  .users-padding {
    color: lightgray;
    padding: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .plus-others {
    color: var(--ion-color-primary);
  }

  .like-comment-row {
    white-space: nowrap;
    .like-comment-item {
      --padding-start: 0;
      --inner-padding-end: 5px;
      font-size: 0.75rem;
        .like-comment-icon {
          color: var(--ion-color-primary);
        }
        .like-comment-label {
          color: var(--ion-color-primary);
          padding-left: 3px;
        }
    }
  }