<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only>
          <ion-avatar class="user-profile">
            <img src="https://cdn3.f-cdn.com/contestentries/1376995/30494909/5b566bc71d308_thumb900.jpg" class="profile-image">
            <ion-icon name="settings-outline" color="white" class="menu"></ion-icon>
          </ion-avatar>
      </ion-button>
    </ion-buttons>
    <img class="tabify-icon" src="assets/imgs/logo.png" />
    <ion-buttons slot="end">
      <ion-button icon-only class="notifications">
        <ion-icon name="notifications" class="notification-icon"></ion-icon>
        <ion-badge>7</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="location-card">
    <ion-item lines="none">
      <ion-avatar item-start>
        <img [src]='selectedLocation.photo_url' />
      </ion-avatar>
      <ion-label class="location-info">
        <h2 text-wrap>{{ selectedLocation.name }}</h2>
        <h3 text-wrap>
          <span text-nowrap>{{ selectedLocation.street1 }}, </span>
          <span text-nowrap>{{ selectedLocation.city }}, {{ selectedLocation.state }}</span>
        </h3>
      </ion-label>
      <ion-icon name="caret-down-outline" class="location-icon"></ion-icon>
    </ion-item>
  </ion-card>

    <ion-slides>
      <ion-slide>
        <app-tab-lookup [imageUrl]="selectedLocation.photo_url">   </app-tab-lookup>
      </ion-slide>
      <ion-slide>
        <app-coupon>   </app-coupon>
      </ion-slide>
    </ion-slides>

  <!-- TODO: For testing purposes, remove this -->
  <p (click)="auth.signOut()">Log out</p>
  <ion-select value="test1" interface="popover">
    <ion-select-option value="test1">
      fgh
    </ion-select-option>
    <ion-select-option value="test2">
      fgijhg
    </ion-select-option>
  </ion-select>
  <ion-icon name="chevron-forward-outline" class="slide-arrow forward-arrow"></ion-icon>
  <ion-icon name="chevron-back-outline" class="slide-arrow back-arrow"></ion-icon>
</ion-content>
