<ion-content no-bounce>
  <h1 class="modal-title">Enter Tip</h1>
  <ion-grid>
    <ng-container (pan)='swipeEvent($event)' >
      <ion-row>
        <ion-col>
          <ion-segment [(ngModel)]="tipSegment" mode="md">
            <ion-segment-button [value]="tipSegmentEnum.PERCENT">
              <ion-label class="segment-label">Percentage</ion-label>
            </ion-segment-button>
            <ion-segment-button [value]="tipSegmentEnum.DOLLAR">
              <ion-label class='segment-label'>Dollar Value</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item *ngIf="tipSegment == tipSegmentEnum.DOLLAR">
            <ion-input #tipInputDollar type="number" autofocus clearOnEdit placeholder="Tip Amount"
              [(ngModel)]="tipDollar" (ionBlur)="dollarInput($event)"></ion-input>
            <ion-note item-left class="input-label">$</ion-note>
          </ion-item>
          <ion-item *ngIf="tipSegment == tipSegmentEnum.PERCENT">
            <ion-input #tipInputPercent type="number" autofocus clearOnEdit placeholder="Tip Percentage"
              [(ngModel)]="tipPercentage" (ionBlur)="percentInput($event)"></ion-input>
            <ion-note item-right class="input-label">%</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="dismiss()">OK</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h2 class='modal-subtitle' id="choose-default">Or choose a default tip:</h2>
  <ion-buttons class="quick-tip-buttons">
    <button ion-button (click)="selectDefaultValue(default15)">
      <div>
        15%
        <hr class="line">
        ${{ default15 }}
      </div>
    </button>

    <button ion-button (click)="selectDefaultValue(default20)">
      <div>
        20%
        <hr class="line">
        ${{ default20 }}
      </div>
    </button>

    <button ion-button (click)="selectDefaultValue(default25)">
      <div>
        25%
        <hr class="line">
        ${{ default25 }}
      </div>
    </button>
  </ion-buttons>
</ion-content>
