page-enter-tip {
  &.ion-page {
    .content,
    .item,
    .label {
      background-color: map-get($colors, light);
      color: map-get($colors, dark);
    }
    .item {
      padding-left: 0px;
    }
    ion-note {
      color: map-get($colors, primary);
    }
    input {
      text-align: center;
    }
    #modal {
      &-title {
        color: map-get($colors, dark);
        font-size: 19px;
        font-weight: 600;
        text-align: center;
      }
      &-subtitle {
        color: $alert-ios-sub-title-text-color;
        font-size: $alert-ios-sub-title-font-size;
        text-align: center;
        padding: 0 5px;
      }
    }
  }
}
