page-enter-tip {
  &.ion-page {
    .content,
    .item,
    .label {
      background-color: map-get($colors, light);
      color: map-get($colors, dark);
    }
    #tipInputDollar {
      color: grey;
    }
    .grid {
      padding-bottom: 0px;
    }
    .item {
      padding-left: 0px;
    }
    .input-label {
      color: map-get($colors, primary);
      margin: 8px;
    }
    input {
      text-align: center;
    }
    .modal {
      &-title {
        color: map-get($colors, dark);
        font-size: 17px;
        font-weight: 600;
        margin-top:10px;
        margin-bottom: 0px;
        text-align: center;
      }
      &-subtitle {
        color: $alert-ios-sub-title-text-color;
        font-size: $alert-ios-sub-title-font-size;
        margin-top: 10px;
        margin-bottom: 0px;
        text-align: center;
        padding: 0 5px;
        &#choose_default {
          margin-top: 0px;
          margin-bottom: 5px;
        }
      }
    }

    .segment-label {
      margin: 0px;
      margin-top: 8px;
      margin-left: 15px;
    }

    .quick_tip_buttons {
      button {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 15px;
        width: 30%;
        margin-left: 4px;
        .line {
          margin-top: 3px;
          margin-bottom: 3px;;
          border: 0.1px solid map-get($colors, tabify-dark-2);
        }
      }
    }
  }
}
