ion-label {
    font-size: 0.8rem;
}

.tabify-sidemenu {
    &-display-name {
      margin: 0;
      color: lightgray;
    }
    &-detail {
      color: lightgray;
      margin: 0;
    }
    &-profile-pic {
      height: 75px;
      width: 75px;
      font-size: 75px;
      line-height: 75px;
      border-radius: 50%;
      border: 2px solid var(--ion-color-primary);
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
      color: var(--ion-color-primary);
    }
  }
