<app-tabify-header>

</app-tabify-header>

<ion-content>
  <ion-searchbar placeholder="Search for your friends and family" (ionInput)="searchUsers($event)"></ion-searchbar>
  <ng-container *ngIf="showNewFeed">
    <ion-segment value="me">
      <ion-segment-button value="me">
        <ion-label>Me</ion-label>
      </ion-segment-button>
      <ion-segment-button value="friends">
        <ion-label>Friends</ion-label>
      </ion-segment-button>
      <ion-segment-button value="public">
        <ion-label>Public</ion-label>
      </ion-segment-button>
    </ion-segment>
    <app-news-feed></app-news-feed>
  </ng-container>
  <ng-container *ngIf="!showNewFeed">
    <app-users-list [users]="filteredUsers"></app-users-list>
    <ion-button (click)="userProfile()">
      user profile page
    </ion-button>
  </ng-container>
</ion-content>
