<ion-header>
  <ion-toolbar hideBackButton>
    <ion-title>Status Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cards-bg">
    <ion-label id='openingText'>
      {{ checkPaidStatus() ? 'Everyone has paid!' : 'Please wait for everyone to finish paying' }}
    </ion-label>
    <ion-card id='curUserCard'>
      <ion-card-content class="card_content">
        <ion-row class="item-user">

          <ion-col>
            <ion-item class="user-info">
              <ion-avatar item-start class="avatar">
                <img [src]="ablyTicketService.ticket?.usersMap.get(currentUserUid).user.userDetail.photo_url || '../../../../../assets/imgs/user-light.png'">
              </ion-avatar>
              {{ ablyTicketService.ticket?.usersMap.get(currentUserUid).user.userDetail.abbreviatedName }}
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item class="user-icons">
              ${{ (ablyTicketService.ticket?.usersMap.get(currentUserUid).total - ablyTicketService.ticket?.usersMap.get(currentUserUid).discounts) / 100 | number: '1.2-2' }}
              <ion-badge item-end class="status-badge" color="warning"
                *ngIf="TicketUserStatusOrder[ablyTicketService.ticket?.usersMap.get(currentUserUid).status] <= TicketUserStatusOrder[TicketUserStatus.PAYING]">
                PAYING</ion-badge>
              <ion-badge item-end class="status-badge" color="secondary"
                *ngIf="TicketUserStatusOrder[ablyTicketService.ticket?.usersMap.get(currentUserUid).status] >= TicketUserStatusOrder[TicketUserStatus.PAID]">
                PAID</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card id='allUsersCard' *ngIf="ablyTicketService.ticket?.users.length > 1">
      <ion-card-header class="card-header">
          Your Party:
      </ion-card-header>
      <ion-card-content class="card_content">
      <ion-list>
        <ng-container *ngFor="let ticketUser of ablyTicketService.ticket?.users">
          <ng-container *ngIf="ticketUser.user.uid !== currentUserUid">
            <ion-row class="item-user">
              <ion-col>
                <ion-item class="user-info">
                  <ion-avatar item-start class="avatar">
                    <img [src]="ticketUser.user.userDetail.photo_url || '../../../../../assets/imgs/user-light.png'">
                  </ion-avatar>
                  {{ ticketUser.user.userDetail.abbreviatedName }}
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item class="user-icons">
                  ${{ (ticketUser.total - ticketUser.discounts) / 100 | number: '1.2-2' }}
                  <ion-badge item-end class="status-badge" color="warning"
                    *ngIf="TicketUserStatusOrder[ticketUser.status] <= TicketUserStatusOrder[TicketUserStatus.PAYING]">
                    PAYING</ion-badge>
                  <ion-badge item-end class="status-badge" color="secondary"
                    *ngIf="TicketUserStatusOrder[ticketUser.status] >= TicketUserStatusOrder[TicketUserStatus.PAID]">
                    PAID</ion-badge>
                </ion-item>
              </ion-col>
            </ion-row>
          </ng-container>
        </ng-container>
      </ion-list>
     </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar border-top>

      <ion-row id="total-bill-row">
        <ion-col>
          Your Party Owes:
        </ion-col>
        <ion-col size="auto">
          <span id="amount-owed">
            ${{ ablyTicketService.ticket?.ticketTotal.due / 100 | number: '1.2-2' }} /
          </span>
          <span id="total-bill">
            ${{ ablyTicketService.ticket?.ticketTotal.total / 100 | number: '1.2-2' }}
          </span>
        </ion-col>
      </ion-row>
</ion-toolbar>
</ion-footer>
