<!--
  Generated template for the StatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Status Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ng-container>

    <ion-label id='openingText'>
      {{ checkPaidStatus() ? 'Everyone has paid!' : 'Please wait for everyone to pay before leaving.' }}</ion-label>
    <ion-card id='curUserCard' (click)="ticketService.toggleIsExpanded(ticketService.curUser)">
      <ion-card-content>
        <ion-row class="item-user">

          <ion-col col-auto class="user-picture">
            <ion-avatar class="avatar">
              <img [src]="ticketService.curUser.photoUrl || '../../../../../assets/imgs/user-light.png'">
            </ion-avatar>
          </ion-col>

          <ion-col col-auto class="user-name">
            <ion-label> {{ ticketService.curUser.name }} </ion-label>
          </ion-col>

          <ion-col col-auto class="user-total">
            <ion-label>
              ${{ (ticketService.curUser.totals.subtotal + ticketService.curUser.totals.tax) / 100 | number: '1.2-2' }}
            </ion-label>
          </ion-col>

          <ion-col col-auto class="ticket-spinner" *ngIf="ticketService.curUser.status < userStatus.Paid">
            <ion-spinner name="bubbles"></ion-spinner>
          </ion-col>

          <ion-col col-auto class="user-icons">
            <ion-icon class="icon" name="checkmark-circle-outline"
              *ngIf="ticketService.curUser.status >= userStatus.Paid">
            </ion-icon>
            <ion-icon class="icon"
              [name]="ticketService.getUserExpanded(ticketService.curUser) ? 'arrow-dropdown' : 'arrow-dropup'">
            </ion-icon>
          </ion-col>
        </ion-row>

        <ion-list *ngIf="ticketService.getUserExpanded(ticketService.curUser)">
          <ion-row class="item-details" *ngFor="let item of ticketService.curUser.ticketItems">
            <ion-col class="col-item-name">
              <span class="name-text">{{ ticketService.getTicketItemName(item.name) }}</span>
            </ion-col>
            <ion-col col-auto class="col-item-total">
              <span class="my-share-text" *ngIf="item.users && item.users.length > 1">
                ${{ ticketService.findUserShareOfItem(item, this.auth.getUid()) / 100 | number: '1.2-2' }} /
              </span>
              <span class="total-text">
                ${{ item.price / 100 | number: '1.2-2' }}
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="item-details">
            <ion-col class="col-item-name">
              <span class="name-text"> 💲 Tax</span>
            </ion-col>
            <ion-col col-auto class="col-item-total">
              <span class="total-text">
                ${{ ticketService.curUser.totals.tax / 100 | number: '1.2-2' }}
              </span>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card id='allUsersCard' *ngIf="ticketService.users.length > 1">
      <ion-card-header class="card-header" id="tell-your-friends">
        <ion-label id="your-party">
          Your Party:
        </ion-label>
      </ion-card-header>
      <ion-list>
        <ng-container *ngFor="let user of ticketService.users">
          <ng-container *ngIf="user.uid !== ticketService.curUser.uid">
            <ion-card-content>
              <ion-row class="item-user" (click)="ticketService.toggleIsExpanded(user)">
                <ion-col class="user-picture">
                  <ion-avatar class="avatar">
                    <img [src]="user.photoUrl || '../../../../../assets/imgs/user-light.png'">
                  </ion-avatar>
                </ion-col>

                <ion-col class="user-name">
                  <ion-label> {{ user.name }} </ion-label>
                </ion-col>

                <ion-col class="user-total">
                  <ion-label>
                    ${{ (user.totals.subtotal + user.totals.tax) / 100 | number: '1.2-2' }}
                  </ion-label>
                </ion-col>

                <ion-col class="ticket-spinner" *ngIf="user.status < userStatus.Paid">
                  <ion-spinner name="bubbles" color="primary"></ion-spinner>
                </ion-col>

                <ion-col class="user-icons">
                  <ion-icon class="icon" name="checkmark-circle-outline" *ngIf="user.status >= userStatus.Paid">
                  </ion-icon>
                  <ion-icon class="icon"
                    [name]="ticketService.getUserExpanded(user) ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
                </ion-col>
              </ion-row>

              <ion-list *ngIf="ticketService.getUserExpanded(user)">
                <ion-row class="item-details" *ngFor="let item of user.ticketItems">
                  <ion-col class="col-item-name">
                    <span class="name-text">{{ ticketService.getTicketItemName(item.name) }}</span>
                  </ion-col>
                  <ion-col col-auto class="col-item-total">
                    <span class="my-share-text" *ngIf="item.users && item.users.length > 1">
                      ${{ ticketService.findUserShareOfItem(item, user.uid) / 100 | number: '1.2-2' }} /
                    </span>
                    <span class="total-text">
                      ${{ item.price / 100 | number: '1.2-2' }}
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="item-details">
                  <ion-col class="col-item-name">
                    <span class="name-text"> 💲 Tax</span>
                  </ion-col>
                  <ion-col col-auto class="col-item-total">
                    <span class="total-text">
                      ${{ user.totals.tax / 100 | number: '1.2-2' }}
                    </span>
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-card-content>
          </ng-container>
        </ng-container>
      </ion-list>
    </ion-card>

  </ng-container>
</ion-content>

<ion-footer>
  <ng-container>
    <ion-card>
      <ion-row id="total-bill-row">
        <ion-col>
          Your Party Owes:
        </ion-col>
        <ion-col col-auto>
          <span id="amount-owed">
            ${{ ticketService.firestoreTicket.ticketTotal.due / 100 | number: '1.2-2' }} /
          </span>
          <span id="total-bill">
            ${{ ticketService.firestoreTicket.ticketTotal.total / 100 | number: '1.2-2' }}
          </span>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-container>
</ion-footer>
