page-status {
  .fraud-prevention-key {
    color: map-get($colors, primary);
    font-size: 1.6em;
  }
  .tip-modal {
    @media (min-height: 500px) {
      ion-backdrop {
        visibility: visible;
      }
    }

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-overlay;

    display: flex;

    align-items: center;
    justify-content: center;

    contain: strict;
    .modal-wrapper {
      &,
      .ion-page,
      .ion-page .content,
      .ion-page .content .scroll-content {
        contain: content;
        position: relative;
        top: auto;
        left: auto;
        padding: 1px;
      }

      z-index: $z-index-overlay-wrapper;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      min-width: $alert-min-width;
      max-height: $alert-max-height;
      opacity: 0;
      height: auto;
      max-width: $alert-md-max-width;
      border-radius: $alert-md-border-radius;
      box-shadow: $alert-md-box-shadow;
      border-radius: 25px;
      padding: 5px;
    }
  }

  #openingText {
    text-align: center;
    white-space: normal;
  }

  .card-header {
    font-size: medium;
    padding-top: 10px;
    text-align: left;
    color: darkgrey;
  }

  #total-bill-row {
    font-size: medium;
    color: white;
  }

  #amount-owed {
    color: map-get($colors, primary);
    white-space: nowrap;
    vertical-align: top;
  }
  #total-bill {
    vertical-align: top;
  }

  .card_content {
    padding: 0px;
  }

  ion-row {
    &.item-user {
      .user-info {
        padding-left: 8px;;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.6rem;
        .avatar {
          width: 40px;
          height: 40px;
          margin-right: 8px;
        }
      }
      .user-icons {
        padding-left: 0px;
        padding-top: 3.5px;
        font-size: 1.6rem;
        text-align: right;
        color: map-get($colors, primary);
        white-space: nowrap;
        text-overflow: ellipsis;
        .status-badge {
          margin: 0px;
          color: map-get($colors, tabify-dark-2);
        }
      }
    }
  }
}
