page-referral-code {
  div {
    color: white;
  }
  ion-list {
    ion-item.item {
      background-color: transparent;
      color: white;
      opacity: 1;
      ::placeholder {
        color: white;
        opacity: 0.8;
      }
    }
    &.list-ios[inset] .item {
      border-bottom: 1px solid white;
    }
  }
  #skip-btn {
      color: white;
      border-color: white;
  }
}
