#spreedly {
    &-number,
    &-cvv,
    &-exp-month {
      height: 50px;
    }
  }

  #zip { 
    width: 50%;
  }

  .spf {
    &-field {
      &-group {
        display: inline-block;
      }
      display: inline-block;
      width: 100%;
      margin-bottom: 1.5em;
      &-zip {
        width: 50%;
      }
    }
    &-exp-divider {
      display: inline-block;
      margin: 0 0.4em;
      font-size: 150%;
      line-height: 1.5;
      position: relative;
      top: 0.2em;
    }
    &-month {
      width: 20%;
    }
    &-year {
      width: 30%;
    }
    &-input-text {
      color: var(--ion-color-dark);
      display: block;
      width: 100%;
      border-radius: 3px;
      border: 1px solid #ccc;
      padding: 0.65em 0.5em;
      font-size: 100%;
    }
  }

  .cvv-help {
    color: var(--ion-color-primary);
  }

  .payment-method-error {
    color: var(--ion-color-danger);
  }