<ion-header>

  <ion-navbar>
    <ion-title>Story</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngIf="!!story">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{ story.ticket.location.photoUrl }}" />
      </ion-avatar>
      <h2>{{ story.ticket.location.name }}</h2>
      <h3>{{ story.ticket.location.city }}</h3>
      <p>{{ story.ticket.location.streetAddress }}</p>
      <ion-note item-end>2 mi.</ion-note>
    </ion-item>
    <ion-row class="bottom-border">
      <ion-col>
        <button ion-button color="primary" clear small icon-start (click)='createLike()'>
          <ion-icon name="heart"></ion-icon>
          {{ story.like_count }}&nbsp;
          <div *ngIf="story.like_count != 1; else singularLikes">Likes</div>
          <ng-template #singularLikes>Like</ng-template>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name="text"></ion-icon>
          {{ story.comment_count }}&nbsp;
          <div *ngIf="story.comment_count != 1; else singularComment">Comments</div>
          <ng-template #singularComment>Comment</ng-template>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note> {{story.relativeTime}} </ion-note>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <ng-container *ngFor="let comment of comments">
        <ng-container *ngIf="!!comment">
          <ion-row>
            <ion-col>
              <ion-note>{{comment.user.uid}}</ion-note>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>{{comment.text}}</ion-item>
            </ion-col>
          </ion-row>
        </ng-container>
      </ng-container>


      <ion-input [(ngModel)]="newComment" placeholder="Enter a new comment!"></ion-input>
      <button ion-button small block outline (click)='createComment()'>Post Comment</button>

    </ion-card-content>
  </ion-card>


</ion-content>