page-story {
  .bottom-border {
    border-bottom: 1px solid white;
  }

  .no-left-padding {
    padding-left: 0px;
    background-color: unset;
  }

  .no-right-padding {
    padding-right: 0px;
  }

  .comment-style {
    background: rgba(255, 255, 255, 0.04);
    margin-bottom: 16px;
  }

  .text-input {
    color: white;
  }
}
