page-story {
  .bottom-border {
    border-bottom: 1px solid white;
  }

  .no-left-padding {
    padding-left: 0px;
    background-color: unset;
  }

  .no-right-padding {
    padding-right: 0px;
  }

  .comment-style {
    background: rgba(255, 255, 255, 0.04);
    margin-bottom: 16px;
  }

  .new-comment-text {
    .text-input {
      color: lightgray;
    }
    color: lightgray;
    padding: 0 10px;
  }

  .heart-padding {
    margin: 0px 0px 0px 0px;
    padding-left: 16px;
    padding-right: 0px;
  }

  .like-btn-padding {
    margin: 0px 0px 0px 0px;
    padding-left: 5px;
    padding-right: 16px;
  }

  .comment-btn-padding {
    margin: 0px 0px 0px 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
  }
}
