.header {
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
    font-size: 1.5rem;
    text-align: left;
    text-overflow: ellipsis;
  }

  ion-card {
      margin-top: 0px;
      margin-bottom: 15px;
      margin-right: 10px;
      margin-left: 10x;
  }