<ion-card>
  <ion-card-header>
    Coupons
  </ion-card-header>
      <ion-card  *ngFor="let coupon of couponService.validCoupons" class="coupon-card" (click)="expandCoupon(coupon)">
        <ion-card-content class="card-content">
          <ion-row>
            <ion-col col-9>
                  <ion-item class="location-item">
                    <ion-avatar item-start class="avatar">
                      <img [src]="coupon.location.photo_url" class="location-image"/>
                    </ion-avatar>
                    <h2 text-wrap>{{ coupon.location.name }}</h2>
                    <h3 text-wrap class="restaurant-address" *ngIf="coupon.id === expandedCouponId">
                      <span text-wrap>{{ coupon.location.street1 }}, {{ coupon.location.city }}, {{coupon.location.state }}</span>
                    </h3>
                  </ion-item>
                  <ion-row *ngIf="coupon.id === expandedCouponId">
                    <ion-col>
                      <p text-wrap class="coupon-description">
                        {{ coupon.description }}
                      </p>
                    </ion-col>
                  </ion-row>
            </ion-col>
            <ion-col class="value" col-3>
                <img class="coupon-image" *ngIf="coupon.id === expandedCouponId; else coupon_value" [src]='coupon.image_url'>
                <ng-template #coupon_value>
                    {{ coupon.coupon_type === CouponType.dollar_value ? '$' + (coupon.value / 100 | number: '1.2-2') : coupon.value + '%' }}                </ng-template>
            </ion-col>

          </ion-row>

          <ion-row *ngIf="coupon.id === expandedCouponId">
            <ion-col class="end-info">
              Usage: {{ coupon. userToCoupons[0].usage_count }}/{{ coupon.usage_limit ? coupon.usage_limit : '∞' }}
            </ion-col>
            <ion-col class="redeem-button-container">
              <button ion-button class="redeem-button">
                  Redeem
              </button>
            </ion-col>
            <ion-col class="end-info">
              Valid until: {{ coupon.coupon_end_date.getMonth() + 1}}-{{ coupon.coupon_end_date.getDate() }}
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="couponService.validCoupons.length === 0">
        Sorry, no coupons are available at this time :(
      </ion-card>
</ion-card>