<ion-tabs>

  <ion-tab-bar slot="bottom" [hidden]="!viewTabs">
    <ion-tab-button tab="socialize">
      <ion-icon name="people-outline"></ion-icon>
      <!-- <ion-icon name="calendar-outline"></ion-icon> -->
      <ion-label>Socialize</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dine">
      <!-- <ion-icon name="receipt-outline"></ion-icon> -->
      <ion-icon name="fast-food-outline"></ion-icon>
      <!-- <ion-icon name="beer-outline"></ion-icon> -->
      <ion-label>Dine</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
