page-unauthenticated {
    @mixin vendor-prefix($name, $value) {
        @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
            #{$vendor}#{$name}: #{$value};
        }
    }
    @mixin animation ($name, $duration, $iteration-count, $timing-function, $direction) {
        @include vendor-prefix('animation-name', $name);
        @include vendor-prefix('animation-duration', $duration);
        @include vendor-prefix('animation-iteration-count', $iteration-count);
        @include vendor-prefix('animation-timing-function', $timing-function);
        @include vendor-prefix('animation-direction', $direction);
    }
    @mixin keyframe ($animation_name) {
        @-webkit-keyframes #{$animation_name} {
            @content;
        }
        @-moz-keyframes #{$animation_name} {
            @content;
        }
        @-o-keyframes #{$animation_name} {
            @content;
        }
        @keyframes #{$animation_name} {
            @content;
        }
    }
    ion-content {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;  
        h1, h4 {
            font-weight: 400;
        }
        .action-btn {
            width: 70%;
        }
        .background {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: black;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            @include vendor-prefix('transition', background-image 0.2s linear);
            @include vendor-prefix('filter', brightness(50%) grayscale(10%));
            @include animation(move, 15s, infinite, linear, alternate-reverse);
            will-change: transform;
            &.image1 {
                background-image: url(../../assets/imgs/login/img1.png);
            }
            &.image2 {
                background-image: url(../../assets/imgs/login/img1.1.jpeg);
            }
            &.image3 {
                background-image: url(../../assets/imgs/login/img1.2.jpeg);
            }
            @include keyframe(move) {
                from {
                    transform: scale(1.2, 1.2);
                }
                to {
                    transform: scale(1, 1);
                }
            }
        }
        .scroll-content {
            overflow: hidden;
        }
        .slide-icon {
            height: 100px;
            width: 100px;
        }
        .slide-zoom {
            width: 90%;
        }
        .swiper-pagination-bullet {
            background: map-get($colors, light);
        }
        .swiper-pagination-bullet-active {
            background: map-get($colors, primary);
        }
        ion-grid {
            position: absolute;
            z-index: 2;
            height: 100%;
            ion-row {
                ion-col {
                    height: 100%;
                }
                &:nth-child(1) {
                    height: 85%;
                }
                &:nth-child(2) {
                    height: 15%;
                }
            }
        }
    }
}
